
@{
    ViewBag.Title = "editaTecnicoDetails";
}

@model CADASTRO_DE_CLUBE_DE_FUTEBOL.Models.clsTecnico
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <DOCTYPE html>
        <head>
            <title>Formulário Técnico</title>
        </head>
        <body>

            <h2>Editar Técnico</h2>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="color:green">
                    @ViewBag.Message
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.qtdTitulos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(Model => Model.qtdTitulos, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.qtdTitulos, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.estrategia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(Model => Model.estrategia, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.estrategia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.qtdTimes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(Model => Model.qtdTimes, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.qtdTimes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.nome, htmlAttributes: new { @class = "control-label col-md-12" })
                <div>
                    @Html.EditorFor(Model => Model.nome, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.time, htmlAttributes: new { @class = "control-label col-md-12" })
                <div>
                    @Html.EditorFor(Model => Model.time, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.idade, htmlAttributes: new { @class = "control-label col-md-12" })
                <div>
                    @Html.EditorFor(Model => Model.idade, new { HtmlTextWriterAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.idade, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div>
                <a href="~/Tecnico/getAllTecnicoDetails" class="btn btn-danger">Voltar</a>
                <input type="submit" class="btn btn-warning" value="Alterar Técnico" />
            </div>

        </body>
    </DOCTYPE>
}
